@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <div class="text-center">

        <div class="texto-privacidade">
            Me chamo Christopher e este é o meu primeiro projeto em ASP.NET,
            espero que ache legal, o projeto é um CRUD bem básico, pois é o meu primeiro contato com o ASP.NET 
            e a arquitetura MVC, então não ficou tão legal, pois fiquei meio perdido, porém com o tempo tentarei fazer aplicações melhores :)
            <br><br>
            Para o desenvolvimento utilizei as seguintes ferramentas:
            <ul class="list-texts-home">
                <li>Visual Studio Community 2022 para Depuração e coding. </li>
                <li>Visual Studio Code para utilização do terminal dotnet.</li>
                <li>Entity Framework.Core.SQLite para interação e criação do Banco de Dados.</li>
                <li>Extensão SQLite Viewer e a Extensão MySQL feita pelo Weijan Chen para visualização do banco no VS Code.</li>
                <li>Extensão SQLite/SQL Server compact toolbox para inserção no banco pelo Visual Studio.</li>
            </ul>
        </div>


    </div>
</div>
